/* Greeter.css */
.root {
    background-color: #eee;
    padding: 10px;
    border: 3px solid #ccc;
    color:#f00;
}
.h1{
    height:100px;
    color:#f80;
    display:flex;
    justify-content: center;
    align-items: center;
    border:1px solid #ccc;
}